@using DisiProject.Common
@model DisiProject.Models.Contacto

@{
    ViewBag.Title = "Crear";
}

@section nav {
    @Html.Partial("_AdminMenuPartial")
}

<h2>Nuevo contacto</h2>

<section id="crearContactosForm">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Ingrese los datos del contacto</legend>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Nombre1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre1)
            @Html.ValidationMessageFor(model => model.Nombre1)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Nombre2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre2)
            @Html.ValidationMessageFor(model => model.Nombre2)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ApellidoPaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApellidoPaterno)
            @Html.ValidationMessageFor(model => model.ApellidoPaterno)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ApellidoMaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApellidoMaterno)
            @Html.ValidationMessageFor(model => model.ApellidoMaterno)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.FecNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FecNacimiento)
            @Html.ValidationMessageFor(model => model.FecNacimiento)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.CorreoPersonal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CorreoPersonal)
            @Html.ValidationMessageFor(model => model.CorreoPersonal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.CorreoEmpresarial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CorreoEmpresarial)
            @Html.ValidationMessageFor(model => model.CorreoEmpresarial)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.TelPrincipal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelPrincipal)
            @Html.ValidationMessageFor(model => model.TelPrincipal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.TelMovil)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelMovil)
            @Html.ValidationMessageFor(model => model.TelMovil)
        </div>   
        <div class="editor-label">    
            @Html.LabelFor(m => m.RazonSocial)
        </div> 
        <div class="editor-field">
            @Html.EditorFor(model => model.RazonSocial)
            @Html.ValidationMessageFor(model => model.RazonSocial)
        </div>      
        <div class="editor-label">
            @Html.LabelFor(m => m.RFC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RFC)
            @Html.ValidationMessageFor(model => model.RFC)
        </div>   
        <div class="editor-label">
            @Html.LabelFor(m => m.Sexo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sexo)
            @Html.ValidationMessageFor(model => model.Sexo)
        </div>      
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdEstadoCivil, (IEnumerable<SelectListItem>)null, "Seleccione Edo. Civil", new {style = "width:190px"})
        </div>  
       <div class="editor-field">
            @Html.DropDownListFor(model => model.IdTipoContacto, (IEnumerable<SelectListItem>)null, "Seleccione tipo contacto", new {style = "width:190px"})
        </div> 
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdTipoPersona, (IEnumerable<SelectListItem>)null, "Seleccione tipo persona", new {style = "width:190px"})
        </div> 

        <p>
            @Html.ActionLink("Direcciones", "Direccion", new { id=Model.IdContacto })
        </p>
        <p>
            <input type="submit" value="Crear" />
        </p>
           
    </fieldset>
}

    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
