@model IEnumerable<DisiProject.Models.Direccion>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Cliente.Name Direcciones Cliente</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Crear", new { id=ViewBag.Cliente.IdCliente })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interior)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AntAnio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AntMes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AntAnio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AntMes)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IdDireccion }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.IdDireccion }) |
            @Html.ActionLink("Borrar", "Borrar", new { id=item.IdDireccion })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Regresar", "Index", "Cliente")
</p>
